@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
body {
    font-family: 'Play', sans-serif;
    color: #edeaea;
    font-size: 16px;
    font-weight: 700;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

h3 {
    padding: 0;
    margin: 0;
}

h5 {
    padding: 0;
    margin: 0;
}

h6 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

.header {
    background-color: #1c1f26;
}

.header__follow {
    padding: 14px 0;
    display: flex;
    align-items: center;
}

.header__menu {
    padding: 28px 0;
}

.header__menu {
    /* background-color: red; */
}

.logo-center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.menu__right {
    justify-self: end;
}

.menu__left ul li {
    display: flex;
    justify-content: end;
    margin-right: 20px;
}

.menu__right ul li {
    display: flex;
    justify-content: end;
    margin-left: 20px;
}

.header__line {
    margin: 0;
    background-color: #edeaea;
    ;
}

.social-btns a {
    background-color: #23262d;
    box-shadow: rgb(0 0 0 / 35%) 0px 3px 7px 0px;
    border-radius: 4px;
}

.social-btns .fa {
    color: #cfcdcd;
    width: 18px;
    height: auto;
}

.social-btns .fa:hover {
    color: red;
}

.social-btns .fa i {
    text-align: center;
}


/* Banner */

.banner {
    position: relative;
    padding: 50px 0;
    background-image: url('https://themebeyond.com/html/geco/Geco/img/slider/magazine_banner_bg.jpg');
}

.banner h2 {
    font-size: 50px;
    font-style: italic;
    font-weight: 700;
}

.banner h5 {
    padding: 5px;
    background-color: #1f2029;
    border-radius: 4px;
    text-align: center;
}

.banner p {
    color: #474851;
    font-weight: 700;
}

.banner h5::before {
    content: '|';
    color: #bcee0e;
    font-size: 20px;
    padding-right: 10px;
}

.banner-heading {
    background-color: #bcee0e;
    padding: 10px;
    display: flex;
    margin-bottom: 10px;
}

.carousel-card {
    height: 250px;
}

.carousel-card .card-header {
    display: flex;
    justify-content: end;
}

.carousel-card .tag a {
    padding: 5px;
    background-color: #bcee0e;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    color: #2a2c36;
    box-shadow: 0px 3px 10px 0px rgb(39 39 40 / 36%);
}

.carousel-card .title {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.slick-slide {
    height: auto !important;
}

.news {
    height: 400px;
    width: 100%;
    background-color: red;
}