@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
body {
    font-family: 'Play', sans-serif;
    color: #edeaea;
    font-size: 14px;
    font-weight: 700;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
}


/* Header */

.header {
    background-color: black;
    padding: 0.5em 0;
}

.border-header {
    border-width: 0.1px !important;
}

.input {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 18em;
    height: 2.5em;
    border: none;
    outline: none;
    letter-spacing: 1.5;
    text-indent: 20px;
}

.btn-search {
    background-color: #ffffff;
    padding: 0 1.2em;
    margin: 0;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.icon {
    color: black;
}

nav {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: black;
}

nav ul {
    padding: 1.5em 0;
}

.menu a {
    padding-right: 5em;
    text-decoration: none;
    color: #ffffff;
}

.menu a:hover {
    color: #bcee0e;
}

.active {
    color: #bcee0e !important;
}

.social-btns a {
    background-color: #23262d;
    box-shadow: rgb(0 0 0 / 35%) 0px 3px 7px 0px;
    border-radius: 4px;
}

.btn:focus,
.btn:active {
    box-shadow: none !important;
}

.social-btns a:hover i {
    color: #bcee0e;
}

.social-btns .fa {
    color: #cfcdcd;
    width: 18px;
    height: auto;
}

.social-btns .fa i {
    text-align: center;
}


/* Banner */

.banner {
    /* height: 50vh; */
    background-image: url('https://themebeyond.com/html/geco/Geco/img/slider/magazine_banner_bg.jpg');
}

.banner p {
    margin: 0;
    padding: 0;
}

.banner-body {
    background-color: #bcee0e;
}

.banner-body .body:after {
    content: 'Cập nhật tin tức mới tại đây';
    color: #474851;
    font-size: 16px;
    padding-left: 1em;
}

.banner-body .body a {
    text-transform: uppercase;
    padding: 0.8em;
    border-radius: 4px;
    text-decoration: none;
    color: #ffffff;
    background-color: #1f2029;
}

.banner-body .body a:after {
    content: ' cập nhật';
    color: #bcee0e;
}

.banner-body .body a:before {
    content: '|';
    line-height: 1;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #bcee0e;
    padding-right: 8px;
}


/* Carousel card */

.carousel-card {
    margin: 0 0.3em;
}

.carousel-card img {
    height: 18em;
}

.carousel-card .tag {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.5em;
}

.carousel-card .tag-border {
    background-color: #bcee0e;
    padding: 3px;
    border-radius: 4px;
}

.carousel-card a {
    text-decoration: none;
    color: #23262d;
    font-size: 12px;
    margin: 0 2px;
}

.carousel-card .body {
    position: absolute;
    bottom: 0;
    padding-left: 1em;
}

.carousel-card .body .title p {
    font-size: 18px;
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.slick-slide {
    height: auto !important;
}


/*  */

.trending-news {
    width: 100%;
    background-color: 24252f;
}

.trending-news-title {
    border-left: 4px solid #bcee0e;
}

.trending-news-title h4 {
    margin: 0;
    font-size: 32px;
}

.trending-news a {
    text-decoration: none;
}

.trending-new-container {
    padding: 80px 0;
}

.trending-news .card-left {
    background-size: cover;
}

.card-left-image {
    width: 27em;
    height: 30em;
}

.card-left-content {
    position: absolute;
    bottom: 0;
    padding-left: 1em;
}

.card-left-date {
    padding: 10px 0;
}

.card-left-title a {
    font-size: 18px;
    color: #ffffff;
}

.card-right-content {
    display: flex;
    padding: 0.5em 0;
}

.card-right-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1em;
}

.card-tag a {
    background-color: #bcee0e;
    padding: 5px;
    font-size: 12px;
    border-radius: 4px;
    color: #2a2c36;
    box-shadow: 0px 3px 10px 0px rgb(39 39 40 / 36%);
}

.card-popular .title-left p {
    font-size: 14px;
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.card-right .card-right-img {
    width: 12em;
    height: 9em;
}

.card-right-date h6 {
    color: #dddcdb;
    padding: 0;
    margin: 0;
}

.image-popular {
    width: 13em;
    height: 9em;
}

.ads {
    padding-top: 1em;
    width: 27em;
    height: 18em;
}

.card-right-title a {
    color: #ffffff;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.card-right-title a:hover {
    color: #bcee0e;
}

.slick-button {
    display: flex;
    justify-content: end;
    margin: auto;
}

.slick-nav button {
    width: 23px;
    height: 20px;
    border: 0;
    border-radius: 4px;
    font-weight: bold;
}

.slick-nav button:hover {
    background-color: #bcee0e;
}


/* Video */

.video {
    background-color: #252525;
    padding: 80px 0;
}

.video-left .thumb {
    width: 55em;
    height: 35.5em;
}

.btn-play {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.video-right .thumb {
    width: 23rem;
    height: 15rem;
}


/*  */

.latest-news {
    background-image: url('https://themebeyond.com/html/geco/Geco/img/bg/latest_game_news.jpg');
}

.latest-news img {
    width: 27em;
    height: 15em;
}

.latest-news a {
    text-decoration: none;
}

.card-latest-news {
    padding: 15px 0;
}

.card-latest-news .right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 15px;
}

.card-latest-news a {
    text-decoration: none;
}

.card-latest-news .title a {
    text-decoration: none;
    color: #ffffff;
}

.card-latest-news .title a:hover {
    color: #bcee0e;
}

.card-latest-news h1 {
    font-size: 32px;
}

.card-latest-news h2 {
    font-size: 20px;
    color: #c5c1c1;
}

.btn-more {
    font-size: 18px;
    margin: 15px 0;
    color: white;
}

.btn-more:hover {
    color: #bcee0e;
}

.footer {
    /* height: 30vh; */
    background-color: #17181d;
}

.footer-logo {
    padding: 1.5em 0;
}

.footer-menu ul li {
    padding: 0 1.5em;
    text-transform: uppercase;
}

.footer-menu ul li a {
    text-decoration: none;
    color: #d2d2d2;
}

.footer-menu ul li a:hover {
    color: #bcee0e;
}

.title-social {
    padding: 1.5em 0;
}

.title-social p {
    font-size: 12px;
}

.footer-social a {
    margin: 0 0.5em;
}

.footer-social .fa {
    color: #bcee0e;
}


/*  */

.post-detail {
    height: auto;
}

.post-detail p {
    font-size: 18px;
    color: #525050;
    font-weight: 400;
}

.detail {
    box-shadow: 0px 2px 21px 0px rgb(59 53 63 / 12%);
    position: relative;
    z-index: 1;
    background: #fff;
    padding: 50px 40px;
    overflow: hidden;
}

.detail h1 {
    color: #1c1121;
}

.detail h4 {
    color: #666464;
    font-size: 14px;
}

.content h2 {
    color: #525050;
    font-size: 18px;
    font-weight: bold;
}


/* 
.post-detail ul {
    margin: 0;
}

.post-detail ul li {
    padding-right: 1em;
    margin: 1em 0;
} */